.icon {
    color: light-dark(var(--mantine-color-gray-5), var(--mantine-color-dark-3));
  }
  
  .name {
    font-family: Greycliff CF, var(--mantine-font-family);
  }

  .chipcontainer{
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    gap:5px;
    overflow-y: auto;
    background-color: #D9D9D9;
    width:  420px;
    height:230px;
  }